-- https://github.com/tpope/vim-fugitive

-- Description:
-- git setup

local function config()
  local map = vim.api.nvim_set_keymap
  local opts = { noremap = true, silent = true }

  vim.g.fugitive_gitea_domains = {
    'https://{{ .gitea }}',
    'https://gitea.io',
  }
  vim.g.fugitive_gitlab_domains = {
    'https://salsa.debian.org',
    'https://whgitlab.uniontech.com',
  }

  vim.g.gitgutter_map_keys = 0
  map('n', '<leader>gs', '<cmd>GitGutterPreviewHunk<cr>', opts)
  map('n', '<leader>g<space>', '<cmd>GitGutterStageHunk<cr>', opts)
  map('n', '<leader>gu', '<cmd>GitGutterUndoHunk<cr>', opts)

  vim.g.blamer_enabled = 1
end

return {
  'tpope/vim-fugitive',
  requires = {
    -- GBrowser handlers
    -- https://github.com/tpope/vim-rhubarb
    'tpope/vim-rhubarb', -- github
    -- https://github.com/borissov/fugitive-gitea
    'borissov/fugitive-gitea', -- gitea
    -- https://github.com/shumphrey/fugitive-gitlab.vim
    'shumphrey/fugitive-gitlab.vim', -- gitlab

    -- https://github.com/airblade/vim-gitgutter
    'airblade/vim-gitgutter', -- sign column diff mark
    -- https://github.com/APZelos/blamer.nvim
    'APZelos/blamer.nvim', -- blame virtual text like gitlens of VSCode
  },
  config = config,
}
