[user]
        email = {{ .email }}
        name = {{ .github_username }}
        signingkey = F848DC429B7EDD84
[credential]
        helper = store
[pull]
        rebase = true
[includeIf "hasconfig:remote.*.url:http://{{ .utid }}@gerrit.uniontech.com/**"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "hasconfig:remote.*.url:http://gerrit.uniontech.com/**"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "gitdir:~/workspace/uniontech"]
        path = ~/.config/git/uniontech.gitconfig
[core]
	quotePath = false
	commitGraph = true
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[gc]
	writeCommitGraph = true
