[user]
        email = {{ .email }}
        name = {{ .github_id }}
        signingkey = F848DC429B7EDD84
[credential]
        helper = store
[pull]
        rebase = true
[core]
	quotePath = false
	commitGraph = true
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[gc]
	writeCommitGraph = true
[commit]
	gpgsign = true
[includeIf "hasconfig:remote.*.url:https://gitlabwh.uniontech.com/**"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "hasconfig:remote.*.url:http://{{ .ut_id }}@gerrit.uniontech.com/**"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "hasconfig:remote.*.url:http://gerrit.uniontech.com/**"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "gitdir:~/workspace/repo/uniontech/"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "gitdir:~/workspace/kernel/"]
        path = ~/.config/git/kernel.gitconfig
[includeIf "hasconfig:remote.*.url:https://git.kernel.org/**"]
        path = ~/.config/git/kernel.gitconfig
