adobe-source-han-sans-cn-fonts
adobe-source-han-sans-otc-fonts
adobe-source-han-serif-cn-fonts
arc-gtk-theme-git
baidunetdisk-electron
calibre
chrome-gnome-shell
d-feet
davinci-resolve
deepin-wine-tim
deepin-wine-wechat
deepin-wine6-stable-amd64
electron-netease-cloud-music-git
fcitx5-chinese-addons
fcitx5-configtool
fcitx5-gtk
fcitx5-material-color
fcitx5-pinyin-moegirl
fcitx5-pinyin-zhwiki
flatpak
gimp
hmcl-bin
kicad
lightdm
nerd-fonts-fira-code
noto-fonts-cjk
obs-studio
orca
overgrive
papirus-icon-theme
rygel
seahorse
simple-scan
solaar-git
sushi
tigervnc
ttf-fira-code
ttf-meslo-nerd-font-powerlevel10k
ttf-sarasa-gothic
unityhub
visual-studio-code-bin
wezterm-nightly-bin
xclip
xdg-user-dirs-gtk
xsel
