bash-language-server
bear
ccls
cf-tool
cgproxy
chezmoi
clang-format-all-git
clash-premium-bin
cloc
debootstrap
delve
github-cli
go
gopls
grub
lazygit-git
lua-language-server
mosh-git
neovim-nightly-bin
net-tools
os-prober
pyright
python-black
python-markpress-git
python-pynvim
python-ueberzug-git
ranger
ripgrep
tldr
tmux
tree
typescript-language-server
unrar
vi
vim
vscode-json-languageserver
yay
zsh
