adobe-source-han-sans-cn-fonts
adobe-source-han-sans-otc-fonts
adobe-source-han-serif-cn-fonts
alacritty-git
arc-gtk-theme-git
baidunetdisk-electron
bash-language-server
bear
calibre
ccls
cf-tool
cgproxy
chezmoi
chrome-gnome-shell
clang-format-all-git
clash-premium-bin
cloc
cloudcross
davinci-resolve
debootstrap
deepin-wine6-stable-amd64
deepin-wine-tim
deepin-wine-wechat
delve
d-feet
electron-netease-cloud-music-git
fcitx5-chinese-addons
fcitx5-configtool
fcitx5-gtk
fcitx5-material-color
fcitx5-pinyin-moegirl
fcitx5-pinyin-zhwiki
flatpak
gimp
github-cli
gopls
grub
hmcl-bin
kicad
lazygit-git
lightdm
mosh-git
neovim-git
net-tools
noto-fonts-cjk
obs-studio
orca
os-prober
overgrive
papirus-icon-theme
python-black
python-markpress-git
python-pynvim
python-ueberzug-git
ranger
ripgrep
rygel
samba
seahorse
simple-scan
solaar-git
sushi
tigervnc
tldr
tmux
totem
tracker-miners
tree
ttf-fira-code
ttf-meslo-nerd-font-powerlevel10k
ttf-sarasa-gothic
unityhub
unrar
vi
vim
visual-studio-code-bin
wezterm-git
xclip
xdg-user-dirs-gtk
xsel
yay
zsh
