adobe-source-han-sans-cn-fonts
adobe-source-han-sans-otc-fonts
adobe-source-han-serif-cn-fonts
arc-gtk-theme-git
baidunetdisk-electron
bash-language-server
bear
calibre
ccls
cf-tool
cgproxy
chezmoi
chrome-gnome-shell
clang-format-all-git
clash-premium-bin
cloc
cloudcross
d-feet
davinci-resolve
debootstrap
deepin-wine-tim
deepin-wine-wechat
deepin-wine6-stable-amd64
delve
electron-netease-cloud-music-git
fcitx5-chinese-addons
fcitx5-configtool
fcitx5-gtk
fcitx5-material-color
fcitx5-pinyin-moegirl
fcitx5-pinyin-zhwiki
flatpak
gimp
github-cli
go
gopls
grub
hmcl-bin
kicad
lazygit-git
lightdm
lua-language-server
mosh-git
neovim-nightly-bin
nerd-fonts-fira-code
net-tools
noto-fonts-cjk
obs-studio
orca
os-prober
overgrive
papirus-icon-theme
pyright
python-black
python-markpress-git
python-pynvim
python-ueberzug-git
ranger
ripgrep
rygel
samba
seahorse
simple-scan
solaar-git
sushi
tigervnc
tldr
tmux
totem
tracker-miners
tree
ttf-fira-code
ttf-meslo-nerd-font-powerlevel10k
ttf-sarasa-gothic
typescript-language-server
unityhub
unrar
vi
vim
visual-studio-code-bin
vscode-json-languageserver
wezterm-nightly-bin
xclip
xdg-user-dirs-gtk
xsel
yay
zsh
