[alias]
	sign = commit --amend --signoff --gpg-sign --no-edit
[core]
	quotePath = false
	commitGraph = true
	abbrev = 12

[credential]
	helper = store

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential

[extensions]
	worktreeConfig = true

[fetch]
	writeCommitGraph = true

[gc]
	writeCommitGraph = true

[pretty]
	fixes = "Fixes: %h (\"%s\")"
	ref = "commit %h (\"%s\")"

[pull]
	rebase = true

[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for

[user]
	email = me@black-desk.cn
	name = Chen Linxuan
	signingkey = D818ACDD385CAE92D4BAC01A6269794D24791D21

