[user]
        email = {{ .email }}
        name = {{ .github_id }}
        signingkey = D818ACDD385CAE92D4BAC01A6269794D24791D21
[sendemail]
        smtpServer = smtp.gmail.com
        smtpServerPort = 465
        smtpEncryption = ssl
        smtpUser = {{ .gmail }}
        from = {{ .email }}
[credential]
        helper = store
[pull]
        rebase = true
[core]
	quotePath = false
	commitGraph = true
[receive]
	advertisePushOptions = true
	procReceiveRefs = refs/for
[gc]
	writeCommitGraph = true
[includeIf "hasconfig:remote.*.url:*uniontech*"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "gitdir:*uniontech*"]
        path = ~/.config/git/uniontech.gitconfig
[includeIf "hasconfig:remote.*.url:*kernel*"]
        path = ~/.config/git/kernel.gitconfig
[includeIf "gitdir:*kernel*"]
        path = ~/.config/git/kernel.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
        helper = !/usr/bin/gh auth git-credential

