[user]
        email = {{ .email }}
        name = {{ .github_id }}
        signingkey = {{ .gunpg_pub }}

[sendemail]
        smtpServer = smtp.gmail.com
        smtpServerPort = 465
        smtpEncryption = ssl
        smtpUser = {{ .gmail }}
        from = {{ .username }} <{{ .email }}>

[credential]
        helper = store

[fetch]
        writeCommitGraph = true

[pull]
        rebase = true

[core]
	quotePath = false
	commitGraph = true
        abbrev = 12

[receive]
	advertisePushOptions = true
	procReceiveRefs = refs{{ .chezmoi.pathSeparator }}for

[gc]
	writeCommitGraph = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/env gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
        helper = !/usr/bin/env gh auth git-credential

[includeIf "gitdir:UnionTech/"]
        path = ~/.config/git/UnionTech.gitconfig

[includeIf "gitdir:GNU/"]
        path = ~/.config/git/GNU.gitconfig

[includeIf "gitdir:Linux/"]
        path = ~/.config/git/Linux.gitconfig

[pretty]
        fixes = Fixes: %h (\"%s\")
