; vim:set ft=gitconfig:

[user]
        email = {{ .deepin_email }}
        name = {{ .name }}

[sendemail]
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = ssl
        smtpUser = {{ .deepin_email }}
        smtpPass = {{ .deepin_email_app_password }}
        from = {{ .name }} <{{ .deepin_email }}>
