[user]
        email = {{ .ut_email }}
        name = {{ .name }}
[commit]
        gpgsign = false
[sendemail]
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = ssl
        smtpUser = {{ .ut_email }}
