{ config, pkgs, lib, ... }:
let
  nurpkgs =
    import (builtins.fetchTarball "https://github.com/nix-community/NUR/archive/master.tar.gz")
    { inherit pkgs; };
in
{
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";
  home.stateVersion = "24.05"; # Please read the comment before changing.
  home.packages = with nurpkgs.repos.definfo.rime-ls; [
    pkgs.black
    pkgs.chezmoi
    pkgs.clang-tools
    pkgs.cmake-language-server
    pkgs.difftastic
    pkgs.efm-langserver
    pkgs.git
    pkgs.github-cli
    pkgs.gopls
    pkgs.haskell-language-server
    pkgs.lazygit
    pkgs.lemminx
    pkgs.lua-language-server
    pkgs.luarocks
    pkgs.marksman
    pkgs.mutt
    pkgs.ninja
    pkgs.nodePackages.bash-language-server
    pkgs.nodePackages.npm
    pkgs.nodePackages.typescript-language-server
    pkgs.pandoc
    pkgs.perlnavigator
    pkgs.plantuml
    pkgs.prettierd
    pkgs.pyright
    pkgs.pyright
    pkgs.rime-ls
    pkgs.ripgrep
    pkgs.rust-analyzer
    pkgs.shellcheck
    pkgs.shfmt
    pkgs.taplo
    pkgs.texlab
    pkgs.tinymist
    pkgs.typst
    pkgs.vscode-langservers-extracted
    pkgs.wl-clipboard
    pkgs.yaml-language-server
  ];
  programs.home-manager.enable = true;
}
