snippet date "" w
`date +%F`
endsnippet

snippet RFC_2119-zh_CN "" b
本文中的关键词必须（MUST）、禁止（MUST NOT）、必要的（REQUIRED）、应当（SHALL）、不应（SHALL NOT）、推荐的（RECOMMENDED）、允许（MAY）以及可选的（OPTIONAL）的解释见于RFC 2119中的描述。
endsnippet
