snippet optbool "a boolean option"
option('${1}', type: 'boolean', value: ${2|false,true|}${3:, description: '$4'})
endsnippet

snippet optstr "a string option"
option('${1}', type: 'string', value: '${2}'${3:, description: '$4'})
endsnippet

snippet getopt "get_option"
get_option('${1}')
endsnippet

snippet dep "a dependency"
dependency('${1}'${2:, version: '$3'}${4:, modules: ['$5']})
endsnippet
