continue
daemon=true
dir={{ .chezmoi.homeDir }}/Downloads/aria2
file-allocation=falloc
log-level=warn
max-connection-per-server=16
max-concurrent-downloads=3
max-overall-download-limit=0
min-split-size=5M
enable-http-pipelining=true

enable-rpc=true
rpc-listen-all=true
rpc-user=rpcuser
rpc-passwd=rpcpass
