chenshuo/muduo
chenyuntc/pytorch-book
containers/crun
containers/podman
https://git.postgresql.org/git/postgresql.git
https://mirrors.tuna.tsinghua.edu.cn/git/{{ .chezmoi.os }}.git
microsoft/language-server-protocol
opencontainers/image-spec
opencontainers/runc
opencontainers/runtime-spec
postgres/postgres
redis/redis
