# vim:set ft=muttrc:

set imap_user = "$my_gmail"
set imap_pass = "$my_gmail_app_password"
set folder = imaps://imap.gmail.com/deepin

set smtp_url = "smtps://$my_deepin_email:$my_deepin_email_app_password@smtp.exmail.qq.com"
set ssl_force_tls = yes
set from = "$my_deepin_email"
set use_from = yes
