# vim:set ft=muttrc:

set my_deepin_email = "{{ .deepin_email }}"
set my_deepin_email_app_password = "{{ .deepin_email_app_password }}"
set my_ut_email = "{{ .ut_email }}"
set my_ut_email_app_password = "{{ .ut_email_app_password }}"
set my_gmail = "{{ .gmail }}"
set my_gmail_app_password = "{{ .gmail_app_password }}"
set my_realname = "{{ .name }}"
