{
    "rainbow-fart.voice-packages": [],
    "coc.preferences.extensionUpdateCheck": "daily",
    "coc.preferences.formatOnSaveFiletypes": [
        "*"
    ],
    "explorer.file.showHiddenFiles": true,
    "explorer.icon.enableNerdfont": true,
    "git.addGBlameToVirtualText": true,
    "git.enableGutters": true,
    "git.urlFix": {
        "gerrit.uniontech.com": [
            "(.*)/a/(.*)/blob/(.*)#L(.*)|$1/plugins/gitiles/$2/+/refs/heads/$3#$4",
            "(.*)/a/(.*)/blob/(.*)#L(.*)|$1/plugins/gitiles/$2/+/$3#$4"
        ],
        "{{ .gitea }}": [
            "blob|src/branch",
            "blob|src/commit"
        ],
        "gitlab.com": [
            "blob|-/blob",
            "blob|-/blob"
        ],
        "gitlab.freedesktop.org": [
            "blob|-/blob",
            "blob|-/blob"
        ],
        "salsa.debian.org": [
            "blob|-/blob",
            "blob|-/blob"
        ]
    },
    "git.urlMode": "permalink",
    "git.virtualTextPrefix": " <<<  ",
    "go.goplsPath": "gopls",
    "go.goplsOptions": {
        "experimentalWorkspaceModule": true
    },
    "sumneko-lua.enableNvimLuaDev": true,
    "languageserver": {
        "ccls": {
            "command": "ccls",
            "filetypes": [
                "c",
                "cpp",
                "objc",
                "objcpp"
            ],
            "initializationOptions": {
                "cache": {
                    "directory": "{{ .chezmoi.homeDir }}/.ccls-cache",
                    "retainInMemory": 0
                },
                "highlight": {
                    "lsRanges": true
                }
            },
            "rootPatterns": [
                ".ccls",
                "compile_commands.json",
                ".vim/",
                ".git/",
                ".hg/"
            ]
        }
    },
    "python.formatting.provider": "black",
    "suggest.completionItemKindLabels": {
        "class": "",
        "color": "",
        "constant": "",
        "default": "",
        "enum": "",
        "enumMember": "",
        "event": "鬒",
        "field": "綠",
        "file": "",
        "folder": "",
        "function": "ƒ",
        "interface": "",
        "keyword": "",
        "method": "",
        "module": "",
        "operator": "洛",
        "property": "",
        "reference": "渚",
        "snippet": "",
        "struct": "פּ",
        "text": "",
        "typeParameter": "",
        "unit": "",
        "value": "",
        "variable": ""
    },
    "suggest.enablePreview": false,
    "suggest.noselect": true
}
