let g:mapleader=";"

call plug#begin('~/.vim/plugged')

  Plug 'MarcWeber/vim-addon-local-vimrc'
  Plug 'RRethy/vim-illuminate'
  Plug 'Raimondi/delimitMate'
  Plug 'ZSaberLv0/ZFVimGitUtil'
  Plug 'ZSaberLv0/ZFVimIM'
  Plug 'aklt/plantuml-syntax'
  Plug 'antoinemadec/coc-fzf'
  Plug 'gcmt/wildfire.vim'
  Plug 'godlygeek/tabular'
  Plug 'itchyny/vim-highlighturl'
  Plug 'jackguo380/vim-lsp-cxx-highlight'
  Plug 'joshdick/onedark.vim'
  Plug 'junegunn/fzf', {'dir': '~/.fzf','do': './install --all'}
  Plug 'junegunn/fzf.vim'
  Plug 'justinmk/vim-syntax-extra'
  Plug 'lambdalisue/suda.vim'
  Plug 'leafgarland/typescript-vim'
  Plug 'lilydjwg/fcitx.vim'
  Plug 'liuchengxu/vista.vim'
  Plug 'neoclide/coc.nvim', {'branch': 'release'},
  Plug 'plasticboy/vim-markdown'
  Plug 'preservim/nerdcommenter'
  Plug 'pseewald/vim-anyfold'
  Plug 'puremourning/vimspector'
  Plug 'qpkorr/vim-bufkill'
  Plug 'tpope/vim-surround'
  Plug 'tyru/open-browser.vim'
  Plug 'vim-airline/vim-airline'
  Plug 'vim-airline/vim-airline-themes'
  Plug 'weirongxu/plantuml-previewer.vim'

  Plug '{{ .github_username }}/ZFVimIM_pinyin_base'

call plug#end()
